################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameDevIdiotsProject1/v16
/bin/Debug/netcoreapp3.1
/obj
/.vs/GameDevIdiotsProject1/DesignTimeBuild
/Content/bin
